xml/file.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="https://www.google.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://www.google.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs.element name="Emails">
        
        <xs:complexType>
            <xs:element name="Email">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="to">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="color" type="xs:string" use="optional" />
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="from" type="xs:string" />
                        <xs:element name="subject" type="xs:string" />
                        <xs:element name="greeting" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:complexType>
    </xs.element>
</xs:schema>